.container {
    background-color: #fff;
    width: 100vw;
    padding: 20px 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.title {
    font-size: 40px;
    font-weight: 700;
    color: #000;
    font-family: 'Noto Sans KR', sans-serif;
}

.saveButton {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #212121;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px 8px 12px;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
}

.saveIcon {
    width: 17px;
    height: 17px;
}

.content {
    margin: 0 auto;
}

.sectionTitle {
    font-size: 15px;
    font-weight: 500;
    color: #000;
    margin: 19px 0 14px;
    font-family: 'Noto Sans KR', sans-serif;
}

.fieldGrid {
    display: flex;
    flex-wrap: wrap;
}

.fieldContainer {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;

}

.label {
    font-size: 12px;
    font-weight: 400;
    color: #000;
    background-color: #F2F2F2;
    border-bottom: 1px solid #979797;
    text-align: center;
    letter-spacing: -0.24px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textAreaContainer{
    padding: 10px 20px;
}

.checkboxContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    margin: 10px;

}

.checkbox {
    width: 20px;
    height: 20px;
    margin: 0;
    cursor: pointer;
}

.checkboxLabel {
    font-size: 12px;
    color: #000;
}

.input,
.dateInput,
.select,
.textArea{
    padding: 3px 12px;
    border: 1px solid #979797;
    border-radius: 4px;
    font-size: 14px;
    color: #898989;
    width: calc(100% - 20px);
}
.select {
    color: #000;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 9L2 5h8l-4 4z' fill='%23000'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center;
}

.textArea{
    height: 400px;
    width: 100%;
    color: black;
}

.input:focus,
.dateInput:focus,
.select:focus {
    outline: none;
    border-color: #212121;
}

.radio{
    border: none;
}

.gender-input {
    margin-right: 16px;
}

[type="radio"] {
    vertical-align: middle;
}


[type="radio"]:hover {
    box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
    cursor: pointer;
}

[type="radio"]:disabled {
    box-shadow: none;
    opacity: 0.7;
    cursor: not-allowed;
}