table{
    width: 100%;
    border-collapse: collapse;
    display: table;
    white-space: nowrap;
}

thead{
    background-color: #F2F2F2;
    border: solid 1px black;
}

tr{
    border: solid 1px black;
}

th, td{
    padding: 19px 15px;
    font-weight: normal;
    font-size: 14px;
    color: black;
    text-align: center;
}

.testingTopBar{
    background-color: #516186;
    color: white;
}

.centerElements{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.column, .row{
    display: flex;
}

.column{
    flex-direction: column;
}

.row{
    flex-direction: row;
}