*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  border: none;
}

main, ul, table{
  max-width: 1200px;
}

main, table{
  margin-inline-start: auto;
  margin-inline-end: auto;
}

main{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

input, select, textarea{
  padding: 8px 12px;
  font-size: 0.9rem;
  width: auto;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #fff;
  flex-grow: 1;
}

input, select{
  height: 30px;
}

input,textarea {
  margin-left: 10px;
  margin-right: 10px;
}

section {
  display: block;
}

button{
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  color: white;
  background-color: black;
  padding: 6px 16px;
  margin-left: 10px;
  border-radius: 4px;
  border: none;
}

span{
  margin-left: 5px;
}

button{
  cursor: pointer;
}

textarea{
  border: 1px solid black;

}

.hidden{
  display: none;
}